<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a routerLink="/frontoffice/dashboard" class="app-brand-link tf-fo-brand-link">
      <span class="app-brand-logo demo">
        <img src="assets/images/teamflow-logo.svg" alt="TeamFlow" class="tf-fo-brand-icon" />
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2 tf-fo-brand-name">
        Team<span class="tf-fo-brand-accent">Flow</span>
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>{{ 'nav.dashboard' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/projects" class="menu-link">
        <i class="menu-icon tf-icons bx bx-briefcase-alt-2"></i>
        <div>{{ 'nav.projects' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/messages" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chat"></i>
        <div>{{ 'nav.messages' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/tasks" class="menu-link">
        <i class="menu-icon tf-icons bx bx-task"></i>
        <div>{{ 'nav.tasks' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/meetings" class="menu-link">
        <i class="menu-icon tf-icons bx bx-video"></i>
        <div>{{ 'nav.meetings' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/activity" class="menu-link">
        <i class="menu-icon tf-icons bx bx-pulse"></i>
        <div>{{ 'nav.activity' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/search" class="menu-link">
        <i class="menu-icon tf-icons bx bx-search-alt-2"></i>
        <div>{{ 'nav.search' | tf }}</div>
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/frontoffice/profile" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>{{ 'nav.profile' | tf }}</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Workspace</span>
    </li>

    <li class="menu-item" *ngIf="isAdmin">
      <a routerLink="/admin/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-shield-quarter"></i>
        <div>{{ 'nav.backoffice' | tf }}</div>
      </a>
    </li>
  </ul>
</aside>
